build/
tmp/
fig/

# example binaries
copy
cta_copy
saxpy
examples/sgemm/sgemm
examples/benchmark/cpi/benchmark

*.cubin
*.out
*.nsight-cuprof-report
*.sass
*.bin

# antrl
.antlr
grammar/generated/

# temporary files
todo.md 